@font-face {
  font-family: 'Tuesdaynight';
  src: url('https://assets.website-files.com/624fd4a40f05b81d5dc5644c/6256740ba19e580060e32695_TuesdayNight-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Melodrama';
  src: url('https://assets.website-files.com/624fd4a40f05b81d5dc5644c/625674595e87f66a9b8593d6_Melodrama-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Melodrama';
  src: url('https://assets.website-files.com/624fd4a40f05b81d5dc5644c/6256745e4e10c918fd937e3a_Melodrama-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Melodrama';
  src: url('https://assets.website-files.com/624fd4a40f05b81d5dc5644c/6256746226af08794e71623f_Melodrama-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}